.App{
	width:100%;
}
.Header{
	display:flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
	width:90%;
  padding-left: 10px;
}

.map-container{
	display:flex;
  margin-top: -1px;
}

.mapboxgl-marker>svg{
	width:25px;
}

.mapboxgl-map{
  border-top: solid 1px #ccc;
  margin-top: -1px;
}

.event-filter{
	display:flex;
	padding:5px 0;
	margin:0 10px;
	border-radius: 20px;
	z-index:1;
	position:relative;
}

.option{
	width:110px;
	font-size: 0.8em;
	font-weight: bold;
	user-select: none;
	cursor:pointer;
	border-radius: 20px;
	text-align: center;
	margin:0 5px;
	padding:5px;
	display:inline-block;
	transition: border 0.2s;
	z-index: 3;
	height:1em;
}

.option:hover{
	/* background-color:rgba(255,255,255,0.5); */
}

.option-background{
	position:absolute;
	background-color: rgba(245,255,64,0.9);
	height:1.1em;
	z-index:1;
	transition: transform 0.2s ease-out, background-color 0.2s;
}

.mapboxgl-marker{
	background-size: cover;
}

.search-bar{
	width:100%;
	border-style:none;
	height:35px;
	font-size: 1.2em;
	padding:0;
	padding-left:10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.search-bar-container{
	padding:10px;
	background-color: rgba(0,0,0,0.05);
	border-radius: 5px;
	border-style: solid inset solid solid;
	border-color:rgba(0,0,0,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(0,0,0,0.2);
	border-width: 2px;
	display:flex;
	/* width:90%; */
	margin:0 auto;
}
.submit-btn{
	border:none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height:35px;
	width:125px;
	padding:0;
	font-weight: bold;
	background-color: rgba(36,80,87,1);
	color:white;
	font-size: 20px;
	display:block;
	cursor:pointer;
	user-select: none;
}

.search-triangle{
	cursor:pointer;
	height:20px;
	margin-left: -20px;
	align-self: center;
}

.zoom-out{
	width:20px;
	height:20px;
	cursor:pointer;
	position:absolute;
	z-index: 999;
	transform: translateY(100px) translateX(10px);
	background:white;
	padding:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border: solid 2px lightgrey;
  border-top: solid 1px lightgrey;
}
.zoom-out:hover{
	background:rgb(242, 242, 242);
}
.searchbar-text{
	/* width:95%; */
	margin:0 auto;
	padding:0;
}
.district-header{
	font-size: 1.3em;
	line-height: 1.95em;
	font-weight: bold;
}
.district-subheader{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 10px;
}

.mapboxgl-ctrl-group{
  box-shadow:none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  border-right: 2px solid rgba(0,0,0,0.2);
}

/* Sidebar Styles */

.Sidebar{
	position:absolute;
	right:0;
	width:30%;
	display:flex;
	flex-direction: column;
	overflow:scroll;
  border-top: solid 1px #ccc;
}

.SidebarEvent{
	background:white;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
	padding:10px;
}

p{
  padding:0;
  margin:0;
}

.sidebar-info{
  display:flex;
  flex-direction: column;
}

.sidebar-title{
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.sidebar-date{
  font-size:0.8em;
  margin-bottom: 5px;
}

.sidebar-location, .sidebar-address, .sidebar-city-state-zip{
  font-size:0.9em;
}

.sidebar-rsvp{
  margin-top: 10px;
  width:70px;
  height:30px;
  font-size:1.2em;
  font-weight:700;
  background-color: rgb(36, 80, 87);
  color:white;
  cursor:pointer;
}

.sidebar-rsvp:hover{
  background-color: rgb(82, 186, 203);
}
